In [1]:
result = 0

def adder(num):
    global result
    result += num
    return result

print(adder(3))

3

In [2]:
print(adder(4))

7

In [3]:
print(adder(5))

12

In [4]:
result1 = 0
result2 = 0

In [6]:
def adder1(num):
    global result1
    result1 += num
    return result1

In [8]:
def adder2(num):
    global result2
    result2 += num
    return result2

In [9]:
print(adder1(3))

3

In [10]:
print(adder1(4))

7

In [11]:
print(adder2(3))

3

In [12]:
print(adder2(7))

10

In [13]:
class calculator:
    def __init__(self):
        self.result = 0
        
    def adder(self,num):
        self.result += num
        return self.result
    
cal1 = calculator()
cal2 = calculator()

In [14]:
print(cal1.adder(3))

3

In [16]:
print(cal1.adder(4))

7

In [17]:
print(cal2.adder(3))

3

In [18]:
print(cal2.adder(7))

10

In [19]:
class Service:
    secret = "지 구 는 40006년 에 멸 망 한 다 ."

In [20]:
an = Service()

In [21]:
an.secret

'지 구 는 40006년 에 멸 망 한 다 .'

In [22]:
s2 = Service()

In [23]:
s2.secret

'지 구 는 40006년 에 멸 망 한 다 .'

In [24]:
Service.secret

'지 구 는 40006년 에 멸 망 한 다 .'

In [31]:
class Service:
        secret = "지구는 40006년에 멸망한다."
        def sum(self,a,b):
            result = a+b
            print("%s + %s = %s이다." %(a,b,result))

In [32]:
an = Service()

In [33]:
an.sum(1,1)

1 + 1 = 2이다.

In [35]:
class Service:
    secret = "지구는 40006년에 멸망한다"
    def setname(self,name):
        self.name = name
    def sum(self, a, b):
        result = a+b
        print("%s님, %s + %s = %s입니다." % (self.name, a, b, result))

In [36]:
an = Service()

In [37]:
an.setname("머털도사")

In [39]:
an.sum(1,1)

머털도사님, 1 + 1 = 2입니다.

In [40]:
kim = Service()
park = Service()
kim.name = "김정보"
park.name = "박융합"

print(kim.name)

김정보

In [41]:
print(park.name)

박융합

In [42]:
kim.secret = "비밀은 없다"

In [43]:
print(park.secret)

지구는 40006년에 멸망한다

In [44]:
Service.secret

'지구는 40006년에 멸망한다'

In [46]:
lee = Service()
lee.sum(1,1)

AttributeError: 'Service' object has no attribute 'name'

In [47]:
class Service:
    secret = "지구는 40006년 에 멸망한다"
    def __init__(self, name):
        self.name = name
    def sum(self, a, b):
        result = a+b
        print("%s님, %s + %s = %s입니다." % (self.name, a, b, result))

In [48]:
an = Service("머털도사")

In [49]:
an.sum(1,1)

머털도사님, 1 + 1 = 2입니다.

In [50]:
class FourCal:
    pass

In [51]:
a = FourCal()

In [52]:
type(a)

__main__.FourCal

In [53]:
print(type(a))

<class '__main__.FourCal'>

In [55]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second

In [56]:
a = FourCal()

In [57]:
a.setdata(4,2)

In [59]:
print(a.first)

4

In [60]:
print(a.second)

2

In [61]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
        
    def sum(self):
        result = self.first + self.second
        return result

In [62]:
a=FourCal()
a.setdata(4,2)

In [64]:
print(a.sum())

6

In [71]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
        
    def sum(self):
        result = self.first + self.second
        return result
    
    def mul(self):
        result = self.first * self.second
        return result

    def sub(self):
        result = self.first - self.second
        return result

    def div(self):
        result = self.first / self.second
        return result

In [72]:
a=FourCal()
b=FourCal()

In [73]:
a.setdata(4,2)
b.setdata(3,7)

In [74]:
a.sum()

6

In [75]:
a.mul()

8

In [76]:
a.sub()

2

In [77]:
a.div()

2.0

In [79]:
b.sub()

-4

In [82]:
import random

player1_dice = []
player2_dice = []

for i in range(3):
    player1_dice.append(random.randint(1,6))
    player2_dice.append(random.randint(1,6))
    
print("Player 1 rolled" + str(player1_dice))
print("Player 2 rolled" + str(player2_dice))

if sum(player1_dice) == sum(player2_dice):
    print("Draw")
elif sum(player1_dice) > sum(player2_dice):
    print("Player 1 wins")
else:
    print("Player 2 wins")

Player 1 rolled[5, 6, 1]
Player 2 rolled[3, 2, 4]
Player 1 wins

In [89]:
from random import randint

class Player:
    def __init__(self):
        self.dice = []
        
    def roll(self):
        self.dice = []
        for i in range(3):
            self.dice.append(randint(1,6))
            
    def get_dice(self):
        return self.dice
    
player1 = Player()
player2 = Player()

player1.roll()
player2.roll()

print("Player 1 rolled" + str(player1.get_dice()))
print("Player 2 rolled" + str(player2.get_dice()))

if sum(player1.get_dice()) == sum(player2.get_dice()):
    print("Draw!")
elif sum(player1.get_dice()) > sum(player2.get_dice()):
    print("Player 1 wins!")
else:
    print("Player 2 wins!")

Player 1 rolled[1, 3, 6]
Player 2 rolled[4, 4, 2]
Draw!